input {
    background-color: aquamarine;
}
label {
    border: 1px dotted black;
}
form {
    width:80%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center;
}
a {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}
